<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Instructions</h1>
</header>
    <p>
        On the next page, insert your thoughts on any movie you just watched. Was it good? Bad? Ugly?
         The algorithm will let you know the sentiment! Are you ready?
    </p>
    <ul class="actions special">
        <li><a href="reviewform.html" class="button">Take me to review!</a></li>
    </ul>
</body>
</html>